[user]
  name  = {{ ansible_env['USER'] }}
  email = dodster.michael@gmail.com
[alias]
  age = !echo "First commit:" && git log --reverse --pretty=format:'\t\t%ar' | head -n 1 && echo 'Last commit:' && git log --pretty=format:'\t\t%ar' | head -n 1
  amend = commit -a --amend
  co = checkout
  cob = checkout -b
  contributors = !git log --format='%aN%n%cN' | sort | uniq
  contributors-email = !git log --format='%aN <%ae>%n%cN <%ce>' | sort | uniq
  fl = log -u
  ll = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --decorate --numstat
  ls = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pending = diff --cached
  timeline = log --oneline --graph --decorate
  uncommit = reset --soft HEAD^
  undo = undo = reset HEAD~1 --mixed
  unstage = reset HEAD
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[core]
  editor = vim
	excludesfile = ~/.gitignore
	autocrlf = input
	quotepath = off
[apply]
	whitespace = nowarn
[merge]
	tool = opendiff
[branch]
	autosetupmerge = true
[push]
	default = tracking
[credential]
	helper = osxkeychain
[include]
  path = ~/.gitconfig.local
